- crumb :root, :"user_registration.edit", :self
- title "New shop"

%p In 4 Einfachen Schritten zu Ihrem Shop

%table.list
  %tr
    %td 1. Adresse
    %td 2. Öffnungszeiten
    %td 3. Küchenangebot
    %td 4. Liefergebiet

= render "form"

