<p>Hallo!</p>

<p>Jemand hat ein Passwortänderung für Ihr Konto auf culini.de angefordert. </p>
<p>Zur Passwortänderung folgen Sie bitte folgendem Link</p>

<p><%= link_to 'Passwort ändern', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Falls Sie diese Email nicht angefordert haben, ignorieren Sie sie bitte einfach.</p>
<p>Ihr Passwort wird nur geändert, wenn Sie dem Link oben folgen.</p>
